.cover__link {
  width: 1184px;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 1184px) {
  .cover__link {
    width: 100%;
    min-height: calc(100vw * 740 / 1184);
  }
}
