.place__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.08em;
  margin: 0;
}

@media (max-width: 760px) {
  .place__title {
    padding: 0 16px;
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .place__title {
    font-size: calc(11.8vw - 48px);
  }
}
