.cover__subtitle {
  z-index: 2;
  font-size: 18px;
  width: 360px;
  text-align: center;
  margin: 0;
  line-height: 22px;
}

.cover__subtitle:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .cover__subtitle {
    font-size: calc(0.893vw + 11px);
    width: calc(16vw + 236px);
    line-height: calc(1.33vw + 12px);
  }
}
