.header {
  width: 100%;
  box-sizing:border-box;
  padding: 28px 48px 0 48px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: 1024px) {
  .header {
    padding: 28px calc(9.38vw - 48px) 0 calc(9.38vw - 48px);
  }
}

@media (max-width: 768px) {
  .header {
    padding: calc(2.68vw + 7px) calc(1.79vw + 10px) 0 calc(1.79vw + 10px);
  }
}
