.lead__title {
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  width: 720px;
  text-align: center;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: calc(12.5vw);
    width: 96vw;
  }
}
