.intro {
  padding: 0 calc((100vw - 984px) / 2) 0 calc((100vw - 984px) / 2);
}

@media (max-width: 1280px) {
  .intro {
    /* (21.9vw + 704px) - это ширина изображения выше */
    padding: 0 calc((100vw - (21.9vw + 704px)) / 2) 0 calc((100vw - (21.9vw + 704px)) / 2);
  }
}

@media (max-width: 1024px) {
  .intro {
    /* Плавный переход от отступа 24px при ширине окна 768px к отступу 48px при ширине окна 1024px */
    padding: 0 calc(9.375vw - 48px) 0 calc(9.375vw - 48px);
  }
}

@media (max-width: 768px) {
  .intro {
    /* Плавный переход от отступа 16px при ширине окна 320px к отступу 24px при ширине окна 768px */
    padding: 0 calc(1.785vw + 10px) 0 calc(1.785vw + 10px);
  }
}
