.lead__subtitle {
  margin: 32px 0 0 0;
  font-size: 30px;
  width: 640px;
  text-align: center;

}

@media (max-width: 768px) {
  .lead__subtitle {
    margin: calc(3.57vw + 5px) 0 0 0;
    font-size: calc(3.13vw + 6px);
    width: calc(74vw + 69px);
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    width: 96vw;
  }
}
