.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 1184px;
  height: 740px;
  color: #FFFFFF;
  text-decoration: none;
}
