.lead__caption {
  align-self: flex-start;
  margin: 8px 0 92px calc((100vw - 984px) / 2);
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;

  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 1280px) {
  .lead__caption {
    /* (21.9vw + 704px) - это ширина изображения выше */
    margin: 8px 0 92px calc((100vw - (21.9vw + 704px)) / 2);
  }
}

@media (max-width: 1024px) {
  .lead__caption {
    margin: 8px 0 calc(1.56vw + 76px) calc(9.375vw - 48px);
  }
}

@media (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 calc(5.4vw + 47px) calc(1.785vw + 10px);
  }
}
