.footer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  padding: 92px 48px 24px 48px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 88px calc(9.375vw - 48px) 24px calc(9.375vw - 48px);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: calc(5.36vw + 47px) calc(1.785vw + 10px) 24px calc(1.785vw + 10px);
  }
}


@media (max-width: 760px) {
  .footer {
    flex-direction: column;
  }
}
